.button
    width: 150px
    height: 30px
    border: none
    border-radius: 5px
    background-color: $main-color
    color: white
    font-size: 12px
    font-weight: 500
    text-transform: uppercase
    &_main
        height: 50px
        width: 300px
        margin-top: 68px
        font-size: 16px