@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('MuseoSansCyrl-100.eot');
    src: url('MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
    url('MuseoSansCyrl-100.woff') format('woff'),
    url('MuseoSansCyrl-100.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Museo Sans 300 Light';
    src: url('MuseoSansCyrl-300.eot');
    src: url('MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
    url('MuseoSansCyrl-300.woff') format('woff'),
    url('MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Museo Sans 500 Medium Italic';
    src: url('MuseoSansCyrl-500Italic.eot');
    src: url('MuseoSansCyrl-500Italic.eot?#iefix') format('embedded-opentype'),
    url('MuseoSansCyrl-500Italic.woff') format('woff'),
    url('MuseoSansCyrl-500Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Museo Sans 900 Black';
    src: url('MuseoSansCyrl-900.eot');
    src: url('MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
    url('MuseoSansCyrl-900.woff') format('woff'),
    url('MuseoSansCyrl-900.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }